%body
  .default-container
  = render partial: 'home/header'

  %main
    %section.owl-carousel.top-carousel
      .owl-stage-outer
        .owl-item.cloned
          =image_tag "mainimage.png", class: 'imagestyle-mein'
    %section.pickup-container
      %h2.pickup-head
        ピックアップカテゴリー
      %section.items-box-container.clearfix
        %h3.text-center.home
          =link_to "レディース 新着アイテム", class: 'textstyle'
        .items-box-contenter
          .items-box-content.clearfix
            %section.items-box
            =link_to"", items_path, calss: "items-box-content.clearfix__link"
          .view-all
            =link_to "全ての商品を見る","",class: 'allitem'
      %section.items-box-container.clearfix
        %h3.text-center.home
          =link_to " メンズ 新着アイテム", class: 'textstyle'
        .items-box-contenter
          .items-box-content.clearfix
            %section.items-box
              =image_tag "mens.png", class: 'itemstyle'
            %section.items-box
              =image_tag "mens.png", class: 'itemstyle'
            %section.items-box
              =image_tag "mens.png", class: 'itemstyle'
            %section.items-box
              =image_tag "mens.png", class: 'itemstyle'
              =link_to"", items_path, calss: "items-box-content.clearfix__link"
          .view-all
            =link_to "全ての商品を見る","",class: 'allitem'
    
    = render partial: 'home/footer'