%body
  .default-container
    = render partial: 'home/header'

    %main.l-container.clearfix

      -# マイページ右側
      .l-content
        .l-chapter-container
          .l-mypage-logout-inner
            .mypage-logout-content
              = link_to "ログアウト",  destroy_user_session_path, method: :delete, class: "btn-default btn-red text-default__submit"
              .emptybox-mypage-logout

      = render partial: 'mypages/leftbox'

    = render partial: 'home/footer'