.default-container 
%body
  .default-container
    = render partial: 'home/header'
    - breadcrumb :pay_way
    = render "mypages/breadcrumbs"

    %main.l-container.clearfix

      .l-content
        .l-chapter-container
          .l-chapter-head 支払い方法
          .l-single-inner.mypage-payway
            .mypage-payway-list 
              %p クレジットカード一覧
              %button.btn-default.btn-red{:type => "submit", class: "text-default__submit"} クレジットカードを追加する
            .emptybox-mypage-payway
            .mypage-payway-next-link
              %p 支払い方法について ＞
 
      = render partial: 'mypages/leftbox'
    
    = render partial: 'home/footer'