
%body
  .single-container
    %header.single-header
      %h1
        =link_to root_path do
          =image_tag "header-logo.svg"

 
    %main.single-main
      .login-panel
        .login-no-account
          %p アカウントをお持ちでない方はこちら
          =link_to '新規会員登録', "", class: 'sinki'
        
        .login-form-inner
          #facebook-login
          =link_to 'Facebookでログイン', "", class:"btn-default-btn-sns-btn-sns-facebook"
          #google-login
          =link_to 'Googleでログイン', "", class: "btn-default-btn-sns-btn-sns-google"
            
        
          %input.login-input-text-input-default
          %input.login-input-text-input-default
          =link_to'ログイン',"", class: 'login-sumit'
          =link_to'パスワードをお忘れの方',"", class: 'ps'



       
         
 