.active{
  display: block;
}
.ul {
  list-style: none;
}

.header-category-list {
  font-size: 14px;
  z-index: 3000;
  float: left;
  position: absolute;
  display: none;
  height: 630px;
  background-color:white;
  color: black
}

//親カテゴリー
.parent-wrap{
  display: flex;
  padding: 0 16px;
  line-height: 44px;
  height: 44px;
  cursor: pointer;
  background-color:white;
  .parent{
    width: 200px;
    display: flex;
    &:hover{
      background-color:red;
      color: white;
    }
    h3.parent-category{
      text-align: center;
    }
  }
}

//header-category
//子カテゴリー
.child-wrap{
  display: none; //のちにdisplay:none；にします
  background-color:white;
  width:auto;
  position: absolute;
  top: 0;
  left:200px;
  height: 630px;
  color: black;
  cursor: pointer;
  .child{
    width:220px;
    height: 33px;
    line-height: 33px;
    span{
      font-size: 14px;
      padding:8px 16px;
      text-decoration: none;
      color:black;
    }
  }
}


.grand-child-wrap{
  display: none;
  width:auto;
  position: absolute;
  top: 0;
  left:200px;
  background: #fff;
  height: 630px;
  overflow: scroll;
  cursor: pointer;
  .grand-child{
    width:220px;
    height: 33px;
    line-height: 33px;
  }
} 