.complete-purchase{
  min-height: 200px;
}

p.complete-purchase-message{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding: 35px 30px 50px;
}

.to-mypagesbtn{
  padding: 0 150px;
}