.emptybox.delivery_address{
  height: 20px;
}

.form-not-haveto{
  background-color: lightgray;
  color: white;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  font-size: 12px;
  vertical-align: top;
}

.text-default-prefecture{
  height: 50px;
}