.hidden{
  display: none;
}

.single-main .l-single-head {
  padding: 32px 8px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  font-weight: bold;
  p{
    font-size: 22px;
  }
}

.sell-form{
  border-top: 1px solid #eee;
}

.sell-form__upload-box {
  width: 620px;
  padding: 40px;
  p{
    margin: 10px 0;
  }
}

.sell-form__upload-box__head{
  font-size: 16px;
  p{
    margin: 8px 0 8px;
    line-height: 1.5;
  }
  label{
    font-weight: 600;
  }
}

.form-require{
  background: #ea352d;
}

.form-require, .form-arbitrary, .message-is-seller, .news-private {
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}

.sell-form__upload-box__dropbox {
  display: inline;
  margin: 16px auto 0;
}

.sell-form__upload-box__items-container__area pre {
  position: absolute;
  top: 50%;
  left: 16px;
  right: 16px;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  transform: translate(0, -50%);
  pointer-events: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.sell-form__upload-box__items-container {
  display: inline;
}

.sell-form__upload-box__items-container__list {
  display: inline;
}

.sell-form__upload-box__items-container__area {
  position: relative;
  min-height: 162px;
  background: #f5f5f5;
  border: 1px dashed #ccc;
  font-size: 0;
  text-align: center;
  transition: box-shadow ease-out .3s, -webkit-box-shadow ease-out .3s;
  cursor: pointer;
  float: right;
  pre {
    display: block;
    font-family: monospace;
    white-space: pre;
  }
}

.sell-form__upload-box__items-container__area.have-item-0 {
  width: 100%;
  margin-left: 0;
}

.sell-form__content__group__name {
  margin: 40px 0 0;
  label{
    font-weight: 600;
  }
  select {
    width: 100%;
  }
}

.sell-form__content__group__name:first-child {
  margin: 0;
}

.visible-pc {
  display: block;
}

.icon-camera {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
}

.sell-form__content__group__input {
  height: 48px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  padding: 0 16px;
}

.sell-form__content__group__name .sell-form__content__group__input {
  width: 588px;
  margin: 8px 0 0;
}

.sell-form__content__group__input2 {
  height: 27px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}

.sell-form__content__group__name label+.textarea-default {
  margin: 8px 0 0;
}

.sell-form__content {
  padding: 40px;
  border-top: 1px solid #eee;
  a{
    text-decoration: none;
  }
}

.sell-form__content__head {
  color: #888;
  font-size: 14px;
  float: left;
  font-weight: 800;
}

.sell-form__content__box {
  float: right;
  width: 400px;
  margin: 0;
}

.select-wrap {
  margin: 8px 0 0;
}

.icon-arrow-bottom {
  position: absolute;
  right: 16px;
  top: 50%;
  z-index: 2;
  color: #888;
  font-size: 8px;
  transform: translate(0, -50%);
}

.select-default {
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

.sell-form__content__question {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #0099e8;
  color: #fff;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
  a{
    text-decoration: none;
  }
}

.l-left {
  float: left;
}

.sell-price .sell-form__content__group__name .l-left {
  width: 44%;
  line-height: 48px;
}

.l-right2 {
  float: right;
  padding: 27px 0px 27px 0px;
  text-align: right;
  width: 40%;
}

.l-right2 sell-price-input{
  display: flex;
}

.sell-price-input .sell-form__content__group__input {
  margin: 0;
  text-align: right;
}

.sell-price>li:first-child {
  padding: 0 0 24px;
  border: 0;
}

.sell-price>li {
  padding: 24px 0;
  border-top: 1px solid #ccc;
}

.sell-price .sell-form__content__group__name .l-right {
  width: 56%;
}

.bold {
  font-weight: 600;
}

.sell-btn-box p {
  line-height: 1.5;
  a{
    color: #0099e8;
    text-decoration: none;
  }
}

.sell-btn-box .btn-red {
  margin: 40px 0 0;
}

.btn-red {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  a{
    color: #fff;
  }
}

.btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}

.sell-btn-box .btn-gray {
  width: 45%;
  margin: 24px auto 0;
  color: #fff;
  a{
    color: white;
  }
}

.btn-gray {
  background: #aaa;
  border: 1px solid #aaa;
}

.sell-price-input>div {
  display: inline-block;
  width: 80%;
  margin: 0 0 0 5%;
}



// ここから下消す
.k_ir_single-container {
  height: 100%;
  width: 100%;
  background-color: hsl(0, 0%, 96%);
  font-size: 14px;
  color: #333;
} 

.k_ir_header {
  height: 128px;
  width: 100%;
  &__title {
    text-align: center;
    line-height: 128px;
    padding: 20px 0 0 0;
  }
}

#brand-result {
  max-height: 200px;
  overflow: scroll;
  border: 1px solid #ccc;
}

.brand-list {
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  &:hover {
    background: #0099e8;
    color: white;
  }
}

.display-brand {
  margin-top: 30px;
}

.k_ir_wrapper {
  width: 100%;
}

.o_image-zone1, .o_image-zone2 {
  display: flex;
  img {
    width: 110px;
    height: 85px;
  }
}

.o_image-zone2-parent {
  display: none;
  margin-top: 10px;
}

#preview1, #preview2 {
  display: flex;
}

.o_image-label1, .o_image-label2 {
  width: 100%;
  height: 160px;
}

.o_file-field {
  display: none;
}

.add_img {
  background: #f5f5f5;
  border: 1px solid #eee;
  height: 160px;
  width: 110px;
  margin-right: 17px;
}

.img_area {
  padding-top: 30px;
  height: 70%;
}

.btn_wrapper {
  height: 30%;
  text-align: center;
  margin-top: 10px;
  a {
    color: #0099e8;
    &:hover {
      opacity: 0.7;
      text-decoration: underline;
    }
  }
}

#seller_gain i{
  font-size: 34px;
  font-weight: bold;
}

.k_ir_section {
  width: 700px;
  background-color: white;
  margin: 0 auto;
  &__header {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    line-height: 90px;
    border-bottom: 1px solid #f5f5f5;
  }
  &__inner {
    width: 100%;
    &--form {
      border-bottom: 1px solid #f5f5f5;
      padding: 40px;
      box-sizing: border-box;
      &-label {
        display: inline;
        font-weight: bold;
      }
      &-span {
        background-color: #ea352d;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        display: inline;
      }
      &-sentence {
        margin: 5px 0;
      }
      &-input {
        height: 160px;
        margin: 0 auto;
        background-color: #f5f5f5;
        border: dashed 1px silver;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &-content {
          text-align: center;
        }
      }
    }
    &--form2 {
      border-bottom: 1px solid #f5f5f5;
      padding: 0 40px 40px;
      box-sizing: border-box;
      &-label {
        display: inline-block;
        margin-top: 30px;
        font-weight: bold;
      }
      &-span {
        background-color: #ea352d;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        display: inline;
      }
      &-input {
        width: 100%;
        display: block;
        height: 48px;
        margin-top: 8px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        font-size: 16px;
        box-sizing: border-box;
      }
      &-textarea{
        width: 100%;
        height: 100px;
        margin-top: 8px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        font-size: 16px;
        box-sizing: border-box;
      }
    }
    &--form3 {
      border-bottom: 1px solid #f5f5f5;
      padding: 40px;
      box-sizing: border-box;
      display: flex;
      &-left {
        width: 40%;
        .k_ir_icon {
          color: #0099e8;
        }
      }
      &-right {
        width: 60%;
        &-label {
          display: inline-block;
          font-weight: bold;
          &:not(:first-child) {
            margin-top: 30px;
          }
        }
        &-span {
          background-color: #ea352d;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          display: inline;
          &-gray {
            background-color: #ccc;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            display: inline;
          }
        }
        &-select, select {
          width: 100%;
          display: block;
          height: 48px;
          margin-top: 10px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          font-size: 16px;
          box-sizing: border-box;
        } 
      }
    }
    &--form5 {
      border-bottom: 1px solid #f5f5f5;
      padding: 40px;
      box-sizing: border-box;
      display: flex;
      &-left {
        width: 40%;
        .k_ir_icon {
          color: #0099e8;
        }
      }
      &-right {
        width: 60%;
        .k_ir_right__content {
          height: 70px;
          border-bottom: 2px solid #f5f5f5;
          &--box--content {
            height: 40px;
            display: flex;
            justify-content: space-between;
          }
          &--left {
            line-height: 48px;
            &-label {
              display: inline;
              font-weight: bold;
            }
            &-span {
              background-color: #ea352d;
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              display: inline;
            }
          }
          &--right {
            line-height: 48px;
            &-price {
              display: flex;
              &-input {
                width: 150px;
                display: block;
                height: 48px;
                margin: 0 0 40px 5px;
                padding: 10px 16px 8px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: #fff;
                font-size: 16px;
                box-sizing: border-box;
              } 
            }
          }
        }
        .k_ir_right__content--price {
          display: flex;
          justify-content: space-between;
          border-bottom: 2px solid #f5f5f5;
        }
        .k_ir_no_border {
          border-bottom: 2px solid white;
        }
      }
    }
    &--form6 {
      padding: 40px;
      .k_ir_link {
        color: #0099e8;
      }
      &-input-btn {
        height: 40px;
        width: 100%;
        color: white;
        background-color: #ea352d;
        border: none; 
        margin: 30px 0 0 0; 
      }
      .k_ir_gray-btn {
        width: 30%;
        background-color: gray;
        display: block;
        margin: 30px auto 0; 
      }
    }
  }
}

#seller_gain {
  font-size: 30px;
  font-weight: bold;
}

.error_zone {
  p {
    color: #ea352d;
  }
}

#saler_gain {
  font-size: 30px;
  font-weight: bold;
}
.input-default2{
  height: 26px;
  width: 65px;
  padding: 10px 5px 8px 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}