.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  }

*, ::before, ::after {
  border-style: solid;
  border-width: 0;
}

.l-single-container {
  width: 700px;
  margin: 0 auto;
}

// 商品出品画面

.single-main .l-single-head {
  padding: 32px 8px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  font-weight: bold;
  p{
    font-size: 22px;
  }
}

.sell-form{
  border-top: 1px solid #eee;
}

.sell-upload-box {
  width: 620px;
  padding: 40px;
}

.sell-upload-head{
  font-size: 16px;
  p{
    margin: 8px 0 8px;
    line-height: 1.5;
  }
  label{
    font-weight: 600;
  }
}

.form-require{
  background: #ea352d;
}

.form-require, .form-arbitrary, .message-is-seller, .news-private {
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}

.sell-dropbox-container {
  display: inline;
  margin: 16px auto 0;
}

.sell-upload-drop-box pre {
  position: absolute;
  top: 50%;
  left: 16px;
  right: 16px;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  transform: translate(0, -50%);
  pointer-events: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.sell-upload-items-container {
  display: inline;
}

.sell-upload-items {
  display: inline;
}

.sell-upload-drop-box {
  position: relative;
  min-height: 162px;
  background: #f5f5f5;
  border: 1px dashed #ccc;
  font-size: 0;
  text-align: center;
  transition: box-shadow ease-out .3s, -webkit-box-shadow ease-out .3s;
  cursor: pointer;
  float: right;
  pre {
    display: block;
    font-family: monospace;
    white-space: pre;
  }
}

.sell-upload-drop-box.have-item-0 {
  width: 100%;
  margin-left: 0;
}

.form-group {
  margin: 40px 0 0;
  label{
    font-weight: 600;
  }
  select {
    width: 100%;
  }
}

.form-group:first-child {
  margin: 0;
}

.visible-pc {
  display: block;
}

.icon-camera {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
}

.input-default {
  height: 48px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  padding: 0 16px;
}

.form-group .input-default {
  width: 588px;
  margin: 8px 0 0;
  placeholder{
    padding: 0;
  }
}

.textarea-default {
  display: block;
  width: 588px;
  max-width: 100%;
  min-height: 104px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  padding: 0 16px;
}

.input-default2 {
  height: 27px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}

.form-group label+.textarea-default {
  margin: 8px 0 0;
}

.sell-content {
  padding: 40px;
  border-top: 1px solid #eee;
  a{
    text-decoration: none;
  }
}

.sell-sub-head {
  color: #888;
  font-size: 14px;
  float: left;
  font-weight: 800;
}

.sell-form-box {
  float: right;
  width: 400px;
  margin: 0;
}

.select-wrap {
  margin: 8px 0 0;
}

.icon-arrow-bottom {
  position: absolute;
  right: 16px;
  top: 50%;
  z-index: 2;
  color: #888;
  font-size: 8px;
  transform: translate(0, -50%);
}

.select-default {
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

.form-question {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #0099e8;
  color: #fff;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
  a{
    text-decoration: none;
  }
}

.l-left {
  float: left;
}

.sell-price .form-group .l-left {
  width: 44%;
  line-height: 48px;
}

.l-right {
  float: right;
}

.l-right sell-price-input{
  display: flex;
}

.sell-price-input .input-default {
  margin: 0;
  text-align: right;
}

.sell-price>li:first-child {
  padding: 0 0 24px;
  border: 0;
}

.sell-price>li {
  padding: 24px 0;
  border-top: 1px solid #ccc;
}

.sell-price .form-group .l-right {
  width: 56%;
}

.bold {
  font-weight: 600;
}

.sell-btn-box p {
  line-height: 1.5;
  a{
    color: #0099e8;
    text-decoration: none;
  }
}

.sell-btn-box .btn-red {
  margin: 40px 0 0;
}

.btn-red {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
}

.btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}

.sell-btn-box .btn-gray {
  width: 45%;
  margin: 24px auto 0;
  color: #fff;
}

.btn-gray {
  background: #aaa;
  border: 1px solid #aaa;
}

.sell-price-input>div {
  display: inline-block;
  width: 80%;
  margin: 0 0 0 5%;
}

// 商品詳細画面

.login-header {
  position: relative;
  z-index: 1001;
  background: #fff;
}

.login-header-inner {
  width: 1000px;
  margin: 0 auto;
  padding: 8px 0 0;
}


.login-header-top {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    width: 30%;
    a {
      display: block;
      color: #333;
      img {
        height: 38px;
      }
    }
  }
}

.login-header-form{
  height: 46px;
  display: flex;
  width: 70%;
}

.login-header-form .input-default {
  background: #f5f5f5;
  border-radius: 4px;
  padding: 0 42px 0 10px;
  width: 100%;
  height: 40px;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
}




.pc-header-nav{
  font-size: 0;
}

  .pc-header-nav li{
    padding-left: 0;
    position: relative;
    display: inline-block;
    padding: 0 11px;
    cursor: pointer;
  }
 
  .pc-header-nav h2{
    font-size: 14px;
    font-weight: 400;
  }
 
  .pc-header-nav-root{
    font-weight: bold;
  }
 
  .pc-header-nav-root span{
    vertical-align: middle;
  }
 
  .l-right{
    float: right;
    padding-bottom: 10px;
  }

.item-box-container {
  background: #fff;
  margin: 40px auto 0;
  padding: 24px 16px 55px 16px;
}

.item-name {
  width: 100%;
  font-size: 24px;
  text-align: center;
  word-wrap: break-word;
  line-height: 1.4;
}

.item-main-content {
  margin: 16px 0 0;
  display: flex;
}

.item-photo {
  position: relative;
  min-width: 280px;
  max-width: 360px;
  min-height: 280px;
  margin: 0 auto;
  background: #fafafa;
}

.owl-carousel {
  position: relative;
}

.owl-carousel .owl-stage {
  position: relative;
}

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.owl-carousel .owl-item-inner {
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 0 100%;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
}

.owl-carousel .owl-lazy {
  transition: opacity 400ms ease;
}

.owl-carousel .owl-nav {
  display: none;
}

.owl-nav.disabled .owl-prev, .owl-nav.disabled .owl-next {
  display: none;
}

.owl-dots {
  line-height: 0;
}

.owl-dot.active {
  opacity: 1;
  cursor: default;
}

.owl-dot span {
  display: none;
}

.owl-dot-inner {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 0 100%;
  pointer-events: none;
}

.owl-carousel img {
  width: 100%;
  vertical-align: bottom;
}

.owl-dot {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 20%;
  max-height: 90px;
  opacity: .4;
  cursor: pointer;
}

.item-price-box {
  margin: 24px 0 0;
}

.item-price {
  margin: 0 8px 0 0;
  font-size: 32px;
}

.item-price bold{
  font-weight: 600;
}

.item-price-box {
  margin: 24px 0 0;
}

.item-tax {
  font-size: 10px;
}

.item-shipping-fee {
  display: inline-block;
  font-size: 16px;
}

.item-buy-btn {
  display: block;
  height: 56px;
  margin: 16px 0 0;
  background: #ea352d;
  color: #fff;
  line-height: 56px;
  text-align: center;
  font-weight: 600;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
}

.item-btn-float-area>.item-btn-client {
  margin: 0;
}

[data-client='visible'] {
  display: none;
}

.item-btn-float-area {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 6px 16px;
  width: 100%;
  background-color: #fff;
  z-index: 3;
  -webkit-box-shadow: 0 -1px 3px 0 rgba(0,0,0,0.16);
  box-shadow: 0 -1px 3px 0 rgba(0,0,0,0.16);
}

.item-detail-table {
  float: right;
  max-width: 300px;
  height: 420px;
  margin: 0 auto;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.item-detail-table {
  float: right;
  max-width: 300px;
  height: 420px;
  margin: 0 auto;
}

.item-detail-table th, .item-detail-table td {
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  padding: 16px 8px;
}

.item-detail-table th {
  width: 39%;
  text-align: left;
  font-weight: 400;
  background: #fafafa;
}

i[class^='icon-'], i[class*='icon-'] {
  display: inline-block;
  font-family: 'icon-font';
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.item-description {
  padding: 24px 0 0;
  line-height: 1.5;
}

.item-description-inner {
  white-space: pre-wrap;
}

.icon-search3{
  padding: 10px 0;
  font-size: 20px;
  font-weight: bold;
  color: black;
  height: 40px;
  cursor: pointer;
}

.login-header-form .icon-search {
  position: absolute;
  display: flex;
}

.pc-header-user-nav>li>a span {
  margin-left: 10px;
  font-size: 14px;
}

.sp-header-user-nav.clearfix{
  height: 30px;
  display: flex;
}

.sp-header-user-nav.clearfix span{
  margin-left: 0 7px;
}

.icon-like{
  margin-left: 5px;
}

.l-light2{
  float: right;
  padding-top: 10px;
}