
.login-panel{
  max-width: 456px;
  margin: 0 auto;
  background: #fff;
}
.login-form-inner{
  padding: 32px 64px;
  border-top: 1px solid #eee;
}
.login-form-inner2{
  padding: 24px 64px 32px
}

//新規会員登録
.login-no-account{
padding: 40px 64px;
text-align: center;
a{
  display: block;
  margin: 8px 0 0;
  border: 1px solid #0099e8;
  background: #0099e8;
  color: #fff;
  line-height: 40px;
}
}

//facebook,google
.btn-sns-facebook{
  width:328px;
  height:50px;
  border:none;
  display: block;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
  a{
    color:white;
  }
}
.btn-sns-google{
  width:328px;
  height:50px;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
  a{
    color:#494a41;
  } 
}

//フォーム部分の微調整
.emptybox-login{
  height: 30px;
}
.forget-password-message{
  color:#0099e8;
  text-align: left;
  margin-top: 40px;
}