.listing-container{
  background: #fafafa;
  font-size: 16px;
  line-height: 72px;
  h2{
    margin-left: 10px;
    font-weight: 900;
  }
}

.listing-tabs{
  border: 0;
  background: #eee;
  font-size: 0;
  display: flex;
  text-align: center;
  line-height: 72px;
  li{
    width: 33.3%;
    font-size: 16px;
    font-weight: 900;
  }
}

.sell-list{
  background: #fff;
  position: relative;
  display: block;
  color: #333;
  font-size: 16px;
  font-weight: 900;
}

.listing--container h2{
  padding: 0 4%;
  background: #fafafa;
  font-size: 16px;
  line-height: 72px;
}

.item-list{
  display: block;
  height: 48px;
  padding: 16px;
  color: #333;
  background: #fff;
  border: 1px solid #eee;
  &__photo{
    position: relative;
    overflow: hidden;
    float: left;
    width: 48px;
    height: 48px;
    a{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 100%;
    }
  }
  &__name{
    margin-left: 10px;
  }
}

.angle-right2{
  padding: 12px 0;
  text-align: center;
  float: right;
  font-size: 28px;
  color: #ccc;
  font-weight: 500;
}



