
.mypage-identification-message {
  padding: 64px 64px 10px;
  font-size: 15px;
  line-height: 1.5;
}

.identification-link{
  float: right;
  margin-right: 68px;
  color: #0099e8;
}

.identification-link2{
  float: right;
  color: #0099e8;
}


p.identify-sub{
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
}

p.identify-detail{
  font-size: 15px;
  margin-top: 10px;
}

.mypage-identification-forms{
  padding: 64px;
}

.each-group.identification{
  margin-top: 40px;
}

.each-group.identification.last{
  margin-bottom: 40px;
}

.emptybox-identification{
  height: 20px;
}