.l-chapter-container{
  background-color: white;
}

.l-mypage-logout-inner{
  padding: 64px;
}

.mypage-logout-content{
  max-width: 320px;
  margin: 0 auto;
}

.emptybox-mypage-logout{
  height: 10px;
}