
.select-default.select-text-default.creditcard{
  height: 50px;
  width: 120px;
}

.emptybox-payway{
  height: 20px;
}

.security_no_detail{
  position: relative;
  color: #0099e8;
  text-align: right;
  margin-top: 5px;
}

.icon.icon-question-circle{
  position: absolute;
  right: 150px;
  color: #0099e8;
}