
.progress-bar {
  font-size: 0;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  border-top: 1px solid #eee;
  padding: 40px 0 0 44px;
  border: 0;
  width: 500px;

  ol.clearfix {
    &:after {
      content: "";
      clear: both;
      display: block;
    }
  }
  
  li {
    position: relative;
    z-index: 1;
    display: inline-block;
    min-width: 40px;
    margin: 0 9% 0 0;
    font-size: 12px;
    color: #888;

  }
  li.last{
    margin: 0,
  }

  .progress-status {
    width: 12px;
    height: 12px;
    margin: 8px auto 0;
    background: #ccc;
    border-radius: 50%;
  }
  .progress-status.last{
    margin: 8px auto 0;
  }

  // progress-status擬似要素
  .progress-status:before{
    position: absolute;
    bottom: 5px;
    z-index: -1;
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background: #ccc;
    right: 50%;
  }
  .progress-status.first:before{
    content: none;
  }

  .progress-status:after {
    position: absolute;
    bottom: 5px;
    z-index: -1;
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background: #ccc;
    left: 50%;
  }
  .progress-status.last:after{
    content: none;
  }
}


//ページごとにhamlを変更する必要あり。応急処置。

.progress-bar li.active {
  font-weight: 600;
  color: #ea352d;
}

.progress-bar li.active .progress-status {
  background: #ea352d;
}

.progress-bar li.active > div:before {
  background: #ea352d;
}

.progress-bar li.done{
  color: #ea352d;
}

.progress-bar li.done > div {
  background: #ea352d;
}

.progress-bar li.done > div:before{
  background: #ea352d;
}

.progress-bar li.done > div:after{
  background: #ea352d;
}