.l-chapter-head{
  text-align: center;
  font-weight: 600;
  border-bottom: 1px solid #f5f5f5;
}

.form-group .input-default.sms {
  width: 90%;
  margin: 8px 0 0;
}

.form-group label{
  font-weight: 600;
}


.l-single-inner.registration-form .btn-red {
  margin: 24px 0 0;
}

.form-group.text-right{
  color: #0099e8;
  margin-top: 10px;
}

.text-right{
  text-align: right;
}

.form-group-comment{
  margin-top: 10px;
}