.sold-flag{
  width:50%;
  margin: 0 auto;
  position: relative;
}

.sold-flag:before{
  content: "";
  top: -65px;
  left: -105px;
  border-left: 100px solid #ea352d;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  transform: rotate(225deg);
  position: absolute;
  z-index: 100;
}

.sold-flag:after{
  content: "SOLD";
  font-size: 30px;
  display: block;
  top: 34px;
  color: #fff;
  left: -85px;
  transform: rotate(-45deg);
  position: absolute;
  z-index: 101;
}